body {
    font-family: Arial, Helvetica, sans-serif;
    -webkit-print-color-adjust:exact !important;
    print-color-adjust:exact !important;
}

.popup-container {
    display: grid;
    grid-template-rows: 32px auto 80px;
    min-width: 300px;
    min-height: 200px;
    max-width: 500px;
    max-height: 300px;
    width: 40%;
    height: 30%;
    margin: auto;
    padding: 5px 5px;
    background-color: #5b77d5;
    border-radius: 2px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.33);
    transition: all 0.3s ease;
}

.popup-close-button-div {
    text-align: right;
}

.popup-close-button {
    overflow: hidden;
    position: relative;
    border: none;
    padding: 0;
    width: 2em;
    height: 2em;
    border-radius: 50%;
    background: transparent;
    color: #1da1f2;
    font: inherit;
    text-indent: 100%;
    cursor: pointer;

    &:focus {
        outline: solid 0 transparent;
        box-shadow: 0 0 0 2px #8ed0f9
    }

    &:hover {
        background: rgba(29, 161, 142, .1)
    }

    &:before,
    &:after {
        position: absolute;
        top: 15%;
        left: calc(50% - .0625em);
        width: .125em;
        height: 70%;
        border-radius: .125em;
        transform: rotate(45deg);
        background: currentcolor;
        content: ''
    }

    &:after {
        transform: rotate(-45deg);
    }
}

.popup-action-button-div {
    display:block;
    margin: auto;

}

.popup-action-button {
    background-color: white;
    padding: 0px 0px;
    height: 35px;
    width: 120px;
    border: none;
    color: #5b77d5;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    font-weight: 900;
    cursor: pointer;
}

.popup-body-div {
    text-align: center;
    margin: auto 10px;
    font-size: 20px;
    font-weight: 1000;
    color: white;
}

.popup-mask {
    position: fixed;
    z-index: 9998;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    transition: opacity 0.3s ease;
}

.popup-header h3 {
    margin-top: 0;
    color: #42b983;
}

.popup-default-button {
    float: right;
}

/*
   * The following styles are auto-applied to elements with
   * transition="modal" when their visibility is toggled
   * by Vue.js.
   *
   * You can easily play with the modal transition by editing
   * these styles.
   */

.popup-enter-from {
    opacity: 0;
}

.popup-leave-to {
    opacity: 0;
}

.popup-enter-from .popup-container,
.popup-leave-to .popup-container {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.printout-infotable-container {
    outline: 2px solid #9491a3;
    border-radius: 15px;
    display:inline-flex;
    flex-direction: column;
    width: 100%;
}

.printout-infotable-container tr{
    height: 30px;
    line-height: 30px;
    padding-left: 10px;
    padding-right: 10px;
}

tr:nth-child(odd) {
    background-color: #ffffff;
 }
 tr:nth-child(even) {
    background-color: #eeeef0;
 }

.printout-tablerowformat {
    display: grid;
    grid-template-columns: 8fr 2fr 1fr 1fr 2fr 1fr 1fr 1fr;
}

.printout-tablerowformat th,td{
    text-align: left;
    padding: 0px 10px;
}

.printout-tablehead {
    padding: 15px 0px;
}

.printout-tablehead th{
    margin: auto 0px;
    font-size: 12px;
    font-weight: 600;
}

.printout-medication-container {
    outline: 2px solid #9491a3;
    border-radius: 15px;
    display:inline-flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 20px;
}

.printout-medication-details {
    height: 70px;
    line-height: 70px;
}

.printout-medication-tags {
    padding: 10px;
}